.body-playground {
  font-family: "Roboto Slab", serif;
  background-color: lightcyan;
}
.body-dark {
  font-family: "Roboto Slab", serif;
  background-color: #141020;
}
.playground,
.playground > * {
  background-color: blueviolet !important;
  color: wheat !important;
}
.playground-primary,
.playground-primary > * {
  background-color: #007bff !important;
  color: wheat !important;
}
.dark,
.dark-primary,
.dark > *,
.dark-primary > * {
  background-color: #121212 !important;
  color: #007bff !important;
}
.page-footer.dark {
  border-top: 1px solid #007bff;
}
.info-playground u {
  color: black !important;
}
.dark-primary .b {
  font-size: 18px !important;
}
.info-dark {
  color: #007bff !important;
}
.tq-dark {
  color: #007bff !important;
}
.tq-playground {
  color: #121050;
}
.info-playground {
  color: wheat !important;
}
.dropdown-menu,
.dropdown-menu > * {
  font-weight: bold;
  color: wheat;
}

.navbar {
  color: white;
  filter: brightness(100%);
}
.nav-link,
.navbar-brand {
  color: wheat;
  filter: brightness(100%) !important;
}
.using {
  width: 100vw;
}

#policy {
  color: white;
}
.line {
  border: 2px solid #007bff;
}
.entries {
  display: flex;
  flex-direction: column;
}

.data-row {
  display: flex;
  flex-direction: row;
  height: 50px;
  border: 1px solid black;
}
.header-data {
  display: flex;
  flex-direction: row;
  height: 75px;
  border: 1px solid black;
}
.data-row .process,
.data-row .arrival-time,
.data-row .burst-time {
  display: flex;
  border: 1px solid black;
  flex-basis: 33.33333%;
}
.col-header {
  display: flex;
  flex-basis: 33.33333%;
  border: 1px solid black;
  justify-content: center;
  background-color: #007bff;
}
.col-header h4 {
  margin-top: 15px;
  color: white;
}
.ip {
  height: 100%;
  width: 100%;
}
input {
  text-align: center;
}
.btn {
  background-color: #007bff;
}
.add-row-button,
.submit-button {
  display: flex;
  justify-content: center;
}
#add-row,
#remove-row {
  border-radius: 100%;
}
.message {
  color: red;
}
.process {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
}
.process h5 {
  margin-top: 15px;
  color: black;
}
.hr-entries {
  border: 2px solid blueviolet;
  margin-left: 3%;
  margin-right: 3%;
}
.page-footer-playground {
  background-color: blueviolet;
}
.page-footer-dark {
  background-color: #121212;
}
.all-info {
  margin: 3%;
}
.timeline {
  height: 200px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  margin-bottom: 50px;
}
.calculations {
  display: flex;
}
.calc {
  width: 33.333%;
}

.time-title-dark {
  height: 100px;
  margin-top: 0px;
  color: #007bff;
  background-color: #121212;
  display: flex;
  justify-content: center;
}
.time-title-playground {
  height: 100px;
  margin-top: 0px;
  color: wheat;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}

.table-title {
  margin-top: 30px;
  text-decoration: underline;
}
.border-dark {
  border: 1px solid #007bff !important;
}
.border-playground {
  border: 1px solid black !important;
}
.processwise {
  color: black;
  font-weight: bolder;
  text-align: center;
}
.processwise-dark {
  color: black !important;
  background-color: wheat;
  height: calc(100% - 100px);
}
.processwise-playground {
  color: black !important;
  background-color: yellowgreen;
  height: calc(100% - 100px);
}
.net-results-dark {
  margin-top: 50px;
  padding: 50px;
  background-color: #121025;
  color: #007bff;
  border: 2px solid #007bff;
  filter: brightness(100%);
}
.net-results-playground {
  margin-top: 50px;
  padding: 50px;
  background-color: skyblue;
  color: black;
  filter: brightness(100%);
}
.nets {
  text-decoration: underline;
}
